@inject StudentServices StudentService

<SpaceItem><Button Danger OnClick="()=>OnDelete(Id)">Tùy chọn</Button></SpaceItem>

@code {
    [Parameter] public int Id { get; set; }
    private void OnDelete(int id) => StudentService.Delete(id);
}