@inject RoomServices RoomServices
<Form Model="Room"
      OnFinish="OnFinish"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinishFailed="OnFinishFailed"
      Size="AntSizeLDSType.Small">

    @if (isSucess)
    {
        <Row Justify="center" Style="margin-top:1em">
            <FormItem>
                <Alert Message="@notice" Type="@type" CloseText="x" Closable Style="width:500px" />
            </FormItem>
        </Row>
    }
    else
    {
        <FormItem></FormItem>
    }
    <FormItem LabelColSpan="6">
        <Input @bind-Value="Room.RoomNumber" />
    </FormItem>
    <FormItem LabelColSpan="6">
        <Input @bind-Value="Room.Capacity" />
    </FormItem>
    <FormItem LabelColSpan="6">
        <Input @bind-Value="Room.RoomPrice" />
    </FormItem>
    <FormItem LabelColSpan="6">
        <Input @bind-Value="Room.ElectricPrice" />
    </FormItem>
    <FormItem LabelColSpan="6">
        <Input @bind-Value="Room.WaterPrice" />
    </FormItem>
    <FormItem WrapperColOffset="13" WrapperColSpan="4">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            @(strBtn = Room.RoomNumber == 0 ? "Thêm Phòng" : "Sửa phòng")
        </Button>
    </FormItem>
</Form>

@code {
    [Parameter] public Room Room { get; set; }
    private bool isSucess = false;
    private string notice;
    private string type;
    private string strBtn;
    private async Task OnFinish(EditContext editContext)
    {
        if (isSucess == false)
        {
            isSucess = true;
            await OnSubmit(editContext);
        }
        else
        {
            await OnSubmit(editContext);
        }
    }
    private void OnFinishFailed(EditContext editContext)
    {
        isSucess = true;
        notice = "Thêm phòng không thành công";
        type = "error";
    }
    private async Task OnSubmit(EditContext editContext)
    {
        if (Room.RoomNumber == 0)
        {
            notice = "Thêm Phòng Thành Công";
            type = "success";
            await RoomServices.AddRoomAsync(Room);
            Room = new();
        }
        else
        {
            notice = "Sửa Phòng Thành Công";
            type = "success";
            RoomServices.UpdateRoom(Room);
        }
    }
 }