@inject RoomServices RoomServices
<Form Model="Room"
      OnFinish="OnFinish"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinishFailed="OnFinishFailed"
      Size="AntSizeLDSType.Small">

    @if (isSucess)
    {
        <Row Justify="center" Style="margin-top:1em">
            <FormItem>
                <Alert Message="@notice" Type="@type" CloseText="x" Closable Style="width:500px" />
            </FormItem>
        </Row>
    }
    else
    {
        <FormItem></FormItem>
    }
    <FormItem LabelColSpan="6">
        <Input @bind-Value="Room.RoomNumber" />
    </FormItem>
    <FormItem LabelColSpan="6">
        <Input @bind-Value="Room.Capacity" />
    </FormItem>
    <FormItem LabelColSpan="6">
        <Input @bind-Value="Room.RoomPrice" />
    </FormItem>
    <FormItem LabelColSpan="6">
        <Input @bind-Value="Room.ElectricPrice" />
    </FormItem>
    <FormItem LabelColSpan="6">
        <Input @bind-Value="Room.WaterPrice" />
    </FormItem>
    <FormItem WrapperColOffset="13" WrapperColSpan="4">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            @(strBtn = isNew == true ? "Thêm Phòng" : "Sửa phòng")
        </Button>
    </FormItem>
</Form>

@code {
    [Parameter] public Room Room { get; set; }
    [Parameter] public bool isNew { get; set; }
    private bool isSucess = false;
    private string notice;
    private string type;
    private string strBtn;

    protected override void OnInitialized()
    {
        if (isNew == true)
        {
            Room = new Room();
        }
    }
    private async Task OnFinish(EditContext editContext)
    {
        if (isSucess == false)
        {
            if (isNew == true)
            {
                notice = "Thêm Thành Công";
                type = "success";
                await RoomServices.AddRoomAsync(Room);
                Room = new();
            }
            else
            {
                notice = "Sửa Thành Công";
                type = "success";
                RoomServices.UpdateRoom(Room);
            }
        }
        else
        {
            if (isNew == true)
            {
                notice = "Thêm Thành Công";
                type = "success";
                await RoomServices.AddRoomAsync(Room);
                Room = new();
            }
            else
            {
                notice = "Sửa Thành Công";
                type = "success";
                RoomServices.UpdateRoom(Room);
            }
        }
    }
    private void OnFinishFailed(EditContext editContext)
    {
        isSucess = true;
        notice = "Thêm phòng không thành công";
        type = "error";
    }
 }