@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="row">
    <div class="col">
        <div class="d-flex">
            <a class="vlu-brand" href="~/">
                <img src="https://online.vlu.edu.vn/Content/logo/logosona.jpg" class="logo-vlu" />
                <b>Trường Đại Học Văn Lang</b>
            </a>
        </div>
        <div class="row content-login">
            <div class="col">
                <section>
                    <form id="account" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="input">
                            <label class="small mb-1" asp-for="Input.Email">Email</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="input">
                            <label class="small mb-1" asp-for="Input.Password">Password</label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div>
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div>
                            <a style="color: #05a;" href="">Forgot Password?</a>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <div class="col img-main">
        <img src="https://tuyensinh.vanlanguni.edu.vn/wp-content/uploads/2017/02/vlu_phoi_canh_ktx-1-scaled.jpg" class="img-vlu" />
    </div>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
