@page
@model RegisterModel
@{
    ViewData["Title"] = "Đăng kí";
}
<div class="row justify-content-center">
    <div class="card card-contents shadow">
        <div class="row d-block mt-2">
            <div class="col">
                <a href="/quan-ly">
                    <button class="btn btn-danger  shadow">
                        Quay lại
                    </button>
                </a>
            </div>
            <div class="col">
                <a href="/quan-ly">
                    <div class="col d-flex justify-content-center">
                        <img src="https://online.vlu.edu.vn/Content/logo/logosona.jpg" class="logo-vlu" />
                    </div>
                </a>
                <div class="col d-flex justify-content-center">
                    <h5>
                        TRƯỜNG ĐẠI HỌC VĂN LANG
                    </h5>
                </div>
            </div>
        </div>
        <div class="row">
            <form id="account" method="post">
                <div class="col mt-2">
                    <label>Email:</label>
                </div>
                <div class="col">
                    <select asp-for="Input.Email" class="form-control">
                        <option>Chọn Email đăng kí</option>
                        @if (Model.Emails != null)
                        {
                            foreach (var email in Model.Emails)
                            {
                                <option value="@email.Email">@email.Email</option>
                            }
                        }
                        else
                        {
                            <option value="@null">Không có sinh viên</option>
                        }
                    </select>
                </div>
                <div class="col mt-5 d-flex justify-content-center">
                    <button type="submit" class="btn btn-register shadow">Đăng kí</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .card-contents {
        margin-top: 20%;
        width: 400px;
        height: 45vh;
    }

    .btn-register {
        background-color: #003768;
        border-color: #427fed;
        color: #fff;
    }

        .btn-register:hover {
            background-color: #427fed
        }

    .logo-vlu {
        width: 150px;
    }
</style>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
