@page "/gioi-thieu"
<PageTitle>Giới Thiệu Kí Túc Văn Lang</PageTitle>
<Row Class="backgroud-about">
    <Col Span="8" Offset="12" Flex="2">
    <Title Style="margin-top:5em" Level="1" Mark="true">Ký túc xá Đại học Văn Lang</Title>
    <Text Mark="true">
        <a href="https://goo.gl/maps/CT9UBbPzdYdQWQXKA" target="_blank" style="color:black; ">
            Địa chỉ: 160/63A-B Phan Huy Ích, P.12, Q. Gò Vấp, TP.HCM
        </a>
    </Text>
    </Col>
    <Col Span="6" Offset="4" Style="margin-top:8em">
    <Text Mark="true" Strong="true">
        Với diện tích sàn xây dựng 2.417 m2, ký túc xá (KTX) đảm bảo chỗ ở và sinh hoạt cho khoảng 600 sinh viên
    </Text>
    </Col>

</Row>
