@page "/gioi-thieu"
<PageTitle>Giới Thiệu Kí Túc Văn Lang</PageTitle>

<div class="row" style="background-color: #fff;">
	<div class="col-7" style="margin-left: 10em;margin-top: 3em;">
		<div class="row d-flex">
			<h3>Thành lập</h3>
		</div>
		<div class="row">
			<img src="../../media/write-icon_files/y_tuong_3.jpg" alt="" class="width-img">
			<p style="margin-top:3em;">
				<strong>Cuối năm 1992</strong>, Ông Nguyễn Đắc Tâm, khi đó là Giám đốc Trung tâm Ngoại ngữ SEPZONE, đã
				lập dự án xin
				thành lập Trường Đại học Kinh thương tại chức Sài Gòn.
			</p>
			<p>
				Sau khi nghị quyết số 4 của Ban chấp hành Trung ương Đảng khóa VII và quyết định số 240/TTg ngày
				24/5/1993 của Thủ tướng chính phủ về Quy chế Đại học tư thục được ban hành; những người cùng chí hướng:
				Ông Nguyễn Đắc Tâm, Ông Trần Trọng Biền, Ông Phạm Gia Khánh, Ông Trần Đình Bút, Ông Phạm Đình Phương,
				Ông Nguyễn Đình Quế, Ông Lương Xuân Hùng, Ông Nguyễn Văn Muôn đã thảo luận kế hoạch xin thành lập Trường
				Đại học Tư thục Kinh thương Sài Gòn.
			</p>
			<p>
				Nhận định nhân sự là quan trọng; cần tập hợp được những nhân sĩ trí thức, những nhà quản lý giáo dục,
				những giáo sư kinh nghiệm, những người có tâm huyết với sự nghiệp giáo dục thế hệ trẻ nên nhóm sáng lập
				nhất trí mời PTS. Phạm Khắc Chi, khi đó là Giám đốc Công ty Tư vấn Dịch vụ Đầu tư nước ngoài (FISC), chủ
				trì vấn đề quy tụ nhân sự. Nhiều nhà trí thức xuất thân từ các nguồn đào tạo trong và ngoài nước dần
				nhận lời mời tham gia nhóm sáng lập: KS. Bùi Quang Độ, GS. Đoàn Trọng Tuyến, GS. Lưu Văn Đạt, PGS. TS.
				Trần Văn Chu, PGS. PTS. Cao Minh Thì, PGS. PTS. Hoàng Văn Khoan, TS. Nguyễn Văn Ngôn, TS. Lương Hữu
				Định, LS. Nguyễn Phước Đại, Ông Nguyễn Văn Bông, Ông Nguyễn Hữu Định, Ông Nguyễn Mạnh Thông,…
			</p>
			<p>Ban Trù bị xin thành lập Trường Đại học Tư thục Kinh thương Sài Gòn gồm:</p>
			<ul style="color: #000; font-size: 14px;list-style: auto;margin-left: 3em;">
				<li>Ông Phạm Khắc Chi - Trưởng ban;</li>
				<li>Ông Bùi Quang Độ - Phó Trưởng ban;</li>
				<li>Ông Nguyễn Đắc Tâm - Phó Trưởng ban;</li>
				<li>Ông Trần Trọng Biền - Ủy viên;</li>
				<li>Ông Phạm Gia Khánh - Ủy viên;</li>
				<li>Ông Nguyễn Văn Hiếu - Ủy viên;</li>
				<li>Ông Nguyễn Văn Muôn - Ủy viên;</li>
				<li>Ông Lương Xuân Hùng - Ủy viên thư ký;</li>
				<li>Ông Lý Khánh Tâm - Ủy viên thư ký.</li>
			</ul>
			<p>
				Ông Bùi Quang Độ, khi đó là Tổng Giám đốc Công ty Liên doanh Tin học (GEN PACIFIC), đã tạo điều kiện để
				Ban
				Trù bị đặt văn phòng thường trực ngay tại trụ sở công ty, 391A Nam Kỳ Khởi Nghĩa, Q. 3, Tp. Hồ Chí Minh.
			</p>
			<p>
				<strong>
					Đầu tháng 10/1993</strong>, trong phiên họp mở rộng, GS. Đoàn Trọng Truyến góp ý tìm một tên khác
				cho Trường vì
				không
				nên dùng chữ “Sài Gòn” trong tên một tổ chức giáo dục lúc bấy giờ. Đồng thời, trước yêu cầu của thực tế,
				các
				thành viên sáng lập có ý kiến thành lập một trường đại học đa ngành chứ không chỉ giới hạn trong lĩnh
				vực
				kinh thương.
			</p>
			<p>
				<strong>Ngày 15/10/1993</strong>, “Hồ sơ Trường Đại học Tư thục Văn Lang” được hoàn thiện.
			</p>
			<p>
				<strong> Ngày 25/12/1993</strong>, Ông Phạm Khắc Chi thay mặt các thành viên sáng lập ký đơn xin thành
				lập Trường, trình
				Bộ
				Giáo dục và Đào tạo.
			</p>
			<p>
				<strong> Ngày 21/01/1994</strong>, Quy chế tạm thời đại học dân lập được ban hành kèm theo quyết định số
				196/TCCB của Bộ
				trưởng Bộ Giáo dục và Đào tạo. Đề án và hồ sơ xin thành lập Trường được sửa đổi, bổ sung thành “Hồ sơ
				Trường
				Đại học Dân lập Văn Lang”.
			</p>
			<p>
				<strong> Ngày 31/01/1994</strong>, hồ sơ xin thành lập Trường được trình lại lên Bộ Giáo dục và Đào tạo.
			</p>
			<p>
				<strong> Ngày 24/3/1994</strong>, Bộ trưởng Bộ Giáo dục và Đào tạo ra Quyết định số 679/QĐ-TCCB công
				nhận Hội đồng Sáng
				lập
			</p>
			<p>
				Trường gồm 14 thành viên:
			</p>
			<ul style="color: #000; font-size: 14px;list-style: auto;margin-left: 3em;">
				<li> Phạm Khắc Chi - Chủ tịch;</li>
				<li> Lưu Văn Đạt;</li>
				<li> Đoàn Trọng Truyến;</li>
				<li> TS. Cao Minh Thì;</li>
				<li> TS. Trần Văn Chu;</li>
				<li> Nguyễn Đắc Tâm;</li>
				<li> Nguyễn Văn Ngôn;</li>
				<li> Bùi Quang Độ;</li>
				<li> Lương Hữu Định;</li>
				<li> Nguyễn Phước Đại;</li>
				<li> Ông Nguyễn Hữu Định;</li>
				<li> Ông Nguyễn Văn Bông;</li>
				<li> Ông Phạm Đình Phương;</li>
				<li> Ông Nguyễn Đình Quế.</li>
			</ul>
			<p>
				<strong>Ngày 27/01/1995</strong> , Thủ tướng Chính phủ ký quyết định số 71/TTg cho phép thành lập Trường
				Đại học Dân lập
				Văn
				Lang.
			</p>
			<p>
				<strong> Ngày 01/3/1995</strong>, Bộ trưởng Bộ Giáo dục và Đào tạo ký quyết định số 639/GD-ĐT công nhận
				Hội đồng Quản trị
				của
			</p>
			<p>Trường gồm 7 thành viên:</p>
			<ul style="color: #000; font-size: 14px;list-style: auto;margin-left: 3em;">
				<li> Phạm Khắc Chi;</li>
				<li> Bùi Quang Độ;</li>
				<li> Nguyễn Đắc Tâm;</li>
				<li> PTS. Cao Minh Thì;</li>
				<li> Nguyễn Hữu Định;</li>
				<li> Nguyễn Văn Ngôn;</li>
				<li> PTS. Hoàng Văn Khoan.</li>
			</ul>
			<p>
				<strong> Ngày 18/3/1995</strong>, Hội đồng Quản trị họp phiên đầu tiên; dưới sự chủ trì của PGS. Trần
				Chí Đáo, khi đó là
				Thứ
				trưởng Bộ Giáo dục và Đào tạo. Hội đồng Quản trị bầu Ông Phạm Khắc Chi làm Chủ tịch kiêm Hiệu trưởng.
			</p>
			<p>
				<strong> Ngày 05/4/1995</strong>, Bộ trưởng Bộ Giáo dục và Đào tạo ký quyết định số 1216/GD-ĐT cho phép
				Trường Đại học Dân
				lập
				Văn Lang chính thức hoạt động, công nhận Ông Phạm Khắc Chi là Hiệu trưởng.
			</p>
			<p>
				<strong> Ngày 28/4/1995</strong>, Bộ Giáo dục và Đào tạo có công văn số 2776/KHTC cho phép Trường Đại
				học Dân lập Văn Lang
				từ
				năm học 1995 – 1996 được tổ chức thi tuyển sinh hệ chính quy tập trung 4.700 sinh viên ở 11 ngành: Công
				nghệ
				Thông tin, Kiến trúc, Xây dựng, Điện lạnh, Công nghệ Sinh học, Công nghệ Môi trường, Quản trị Kinh
				doanh,
				Quản trị và Hướng dẫn Du lịch, Tài chính tín dụng – Kế toán, Kinh tế Thương mại, Luật Kinh doanh, Ngoại
				ngữ.
			</p>
			<p>
				<strong> Ngày 1 – 2/8/1995</strong>, Trường tổ chức kỳ thi tuyển sinh lần đầu tiên.
			</p>
			<p>
				<strong> Ngày 17/9/1995</strong>, Trường Đại học Văn Lang long trọng tổ chức Lễ Khai giảng khóa 1 tại
				Học viện Hành chính
				Quốc
				gia, Tp. Hồ Chí Minh. 4569 sinh viên khóa đầu tiên đã chính thức trở thành nhân vật trung tâm của
				Trường.
			</p>
			<img src="../../media/write-icon_files/LeKhaigiang_khoa1.jpg" alt="">
			<p style="color: blue; text-align: center;">Lễ Khai giảng khóa 1 năm 1995 tổ chức tại Hội trường Học viện
				Hành chính Quốc gia, Tp.HCM,
				sáng Chủ nhật ngày 17 tháng 9 năm 1995
			</p>
			<img src="../../media/write-icon_files/ten_goi_1.jpg" alt="" class="width-img">
			<p>
				<span style="font-size: 20px; font-weight: bold;">T</span>rong một cuộc họp mở rộng vào tháng 10/1993,
				các thành viên sáng
				lập đã
				nhất trí với đề xuất của
				Ông
				Nguyễn Đắc Tâm, đặt tên cho ngôi trường tương lai là Văn Lang. Tên Trường được lấy theo quốc hiệu đầu
				tiên của nước ta, gắn với huyền sử vua Hùng dựng nước: Văn Lang. Tên gọi ấy gợi lên lòng tự hào dân tộc,
				nhắc nhở thế hệ trẻ gắng công học tập, góp phần làm rạng rỡ non sông.
			</p>
			<img src="../../media/write-icon_files/bieu_trung_2.jpg" class="width-img" alt="">
			<p>
				<span style="font-size: 20px; font-weight: bold;">
					T</span>ừ tâm huyết của các nhà sáng lập hướng về thế hệ trẻ, hướng về tương lai của đất nước, trong
				một cuộc
				họp tháng 11/1993, Ông Phạm Khắc Chi đã đề xuất phương châm của Trường và được các thành viên nhất trí.
				Phương châm đó đã trở thành một phần biểu trưng Văn Lang:
			</p>
			<p style="text-align: center; color:red; font-size: 20px; font-weight: bold;">ĐẠO ĐỨC – Ý CHÍ – SÁNG TẠO</p>
			<p>Tên nước Văn Lang gắn liền với nền văn hóa Đông Sơn, với hình tượng trống đồng. Từ năm 2018, Trường Đại
				học Văn Lang công bố nhận diện thương hiệu mới, với biểu tượng được cách điệu từ hình ảnh chim Lạc.</p>
			<div class="row d-flex justify-content-center">
				<img src="../../media/write-icon_files/DH-van-lang-bieu-trung_1.jpg" alt=""
					style="text-align: center; width: 400px; justify-content: center;" class="d-flex ">
			</div>
			<p>
				Lõi của Biểu tượng là hình cách điệu kết hợp với chữ V và hình tượng chim Lạc trên trống đồng Văn Lang,
				3
				vạch trên cánh chim tượng trưng cho ba Đạo đức – Ý chí – Sáng tạo. Bao bọc bên ngoài Biểu tượng là hình
				chiếc khiên học thuật tượng trưng cho giáo dục, đồng thời gợi hình tượng quyển sách mở tượng trưng cho
				trí
				thức nhân loại.
			</p>
			<p>
				Logo sử dụng màu đỏ đậm trên nền xanh dương đậm với biên trắng, xanh dương đậm là màu truyền thống của
				Trường Đại học Văn Lang.
			</p>
			<img src="../../media/write-icon_files/ngay_truyen_thong_2.jpg" class="width-img" alt="">
			<p>
				<span style="font-size: 20px; font-weight: bold;">M</span>ồng 10 tháng 3 Âm lịch năm Ất Hợi (1995), nhằm
				ngày Giỗ Tổ Hùng Vương, Trường tổ chức Lễ ra mắt tại Nhà hát
				Tp. Hồ Chí Minh. Từ đó đến nay, Trường lấy mốc thời gian này là ngày truyền thống.
			</p>
		</div>
		<img src="../../media/write-icon_files/ca_khuc_truyen_thong_2.jpg" class="width-img" alt="">
		<p>
			<span style="font-size: 20px; font-weight: bold;">T</span>
			háng 8/1995, Ông Phạm Khắc Chi nhờ nhạc sĩ Nguyễn Cửu Phúc sáng tác ca khúc truyền thống của Trường. Nhạc sĩ
			Cửu Phúc sáng tác hai bài: “Hành khúc sinh viên Văn Lang” và “Văn Lang đại học đường”. Hai ca khúc này được
			trình diễn lần đầu trong Lễ Khai giảng năm học 1995 – 1996. Từ đó đến nay, bài hát “Văn Lang đại học đường”
			được chọn là ca khúc truyền thống của Trường.
		</p>
		<img src="../../media/write-icon_files/DH-van-lang-van-lang-dai-hoc-duong-1.jpg" style="margin-bottom: 6em;"
			alt="">
		<div class="row d-flex justify-content-center">
			<iframe style="margin-bottom: 3em;" width="560" height="400" src="https://www.youtube.com/embed/Py6qBrBvHxw"
				title="YouTube video player" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
	</div>
</div>