@page "/gioi-thieu"
<PageTitle>Giới Thiệu Kí Túc Văn Lang</PageTitle>
<Row Class="backgroud-about">
	<Col Span="8" Offset="12" Flex="2">
	<Title Style="margin-top:5em" Level="1" Mark="true">Ký túc xá Đại học Văn Lang</Title>
	<Text Mark="true">
		<a href="https://goo.gl/maps/CT9UBbPzdYdQWQXKA" target="_blank" style="color:black; ">
			Địa chỉ: 160/63A-B Phan Huy Ích, P.12, Q. Gò Vấp, TP.HCM
		</a>
	</Text>
	</Col>
	<Col Span="6" Offset="4" Style="margin-top:8em; margin-bottom: 4em;">
	<Text Mark="true" Strong="true">
		Ký túc xá của Trường Đại học Văn Lang chính thức hoạt động từ năm học 2009-2010, có 6 tầng, 82 phòng, 600 chỗ ở
		với diện tích sàn xây dựng 2.417m2.
	</Text>
	</Col>
</Row>
<Row Align="center">
	<Col Span="8" Offset="4" Style="margin-top:8em; margin-bottom: 8em;">
	<Text Strong="true" Disabled="true" Mark="true"> 
		Ký túc xá Trường Đại học Văn Lang là ngôi nhà chung ấm cúng, tiện nghi của khoảng 600 sinh viên đến từ nhiều
		tỉnh, thành đang học tập tại Văn Lang. Cũng là nơi đón các bạn trở về sau những giờ học vất vả tại trường.
		<br />
		Ký túc xá có 6 tầng với 82 phòng xây dựng khang trang, khép kín, đầy đủ đảm bảo chỗ ở và sinh hoạt cho khoảng
		600 sinh viên. Phí ở ký túc xá khoảng 300,000 đồng/sinh viên/tháng, ưu tiên sinh viên năm nhất khi đăng ký chỗ
		ở. Các bạn sinh viên năm nhất trước khi đăng ký được Nhà trường tư vấn, bố trí xe đưa đón tham quan ký túc xá
		trước khi đăng ký với thủ tục đơn giản và nhanh chóng.
		<br />
		Trang bị các thiết bị công nghệ tin hiện đại để phục vụ nhu cầu sinh hoạt và học tập cho sinh viên như: phủ sóng
		mạng wifi, hệ thống quét thẻ ra vào, các khu vực cung cấp nước nóng miễn phí, hệ thống camera an ninh và thực
		hiện đầy đủ các quy định về an toàn phòng cháy chữa cháy.
		<br />
		Ký túc xá được chú trọng thiết kế xây dựng tạo không gian thông thoáng và sạch sẽ. Các phòng được bố trí giường
		tầng riêng tư tạo sự gọn gàng và tiết kiệm diện tích. Mỗi phòng ở ký túc xá có bố trí nhà vệ sinh riêng và nơi
		mắc quần áo đầy đủ. Bên ngoài phòng ngủ là hành lang rộng rãi, thông thoáng đón ánh nắng trực tiếp trải dài và
		xuyên suốt từ lầu 2 đến lầu 6.
		<br />
		Nhà trường luôn quan tâm đến việc xây dựng không gian cho các bạn sinh viên ăn uống, giải trí và các phòng tự
		học. Do đó, ký túc xá dành toàn bộ khuôn viên lầu 1 làm căng tin và khu vực sinh hoạt tập thể thoải mái, vui
		tươi cho người ở.
		<br />
		Tại tầng trệt là bãi giữ xe rộng rãi của ký túc xá nằm ngay lối vào, những sinh viên đi lại bằng phương tiện xe
		đạp và xe gắn máy có thể yên tâm về một nơi giữ xe an toàn. Bên cạnh là hai bên là lối cầu thang đến các tầng
		lầu khác, tiện lợi cho việc di chuyển của các bạn.
	</Text>

	</Col>
	<Col Offset="3" Style="margin-top: 10em;">
	<img src="https://tuyensinh.vanlanguni.edu.vn/wp-content/uploads/2017/02/vlu-phoi-canh-ktx-b-scaled.jpg"
		width="400px" height="600px">
	</Col>
</Row>
