@page "/gioi-thieu"
<PageTitle>Giới Thiệu Kí Túc Văn Lang</PageTitle>
<Row Class="backgroud-about"> 
    <Col Span="6" Offset="6">
       <Title Level="1" Mark="true">Ký túc xá Đại học Văn Lang</Title>
       <Text>Địa chỉ: 160/63A-B Phan Huy Ích, P.12, Q. Gò Vấp, TP.HCM</Text>
    </Col>
</Row>
