<Row>
    <Col Span="4" Offset="2">
    <a href="https://www.vanlanguni.edu.vn/">
        <Image Src="https://www.vanlanguni.edu.vn/images/2020/HE_THONG_LOGO_CUA_TRUONG-02.png" Preview="false" Style="max-width: 100%;" />
    </a>
    </Col>
    <Col Offset="2">
    <ul class="link-light link-footer">
        Truy cập nhanh:
        <li>
            <a href="/">Trang chủ </a>
        </li>
        <li>
            <a href="/about">
                Thông tin
            </a>
        </li>
    </ul>
    </Col>
    <Col Span="9" Offset="3">
    <ul class="text-footer">
        <a href="https://www.vanlanguni.edu.vn/" target="_blank">
            Trường Đại Học Văn Lang
        </a>
        <li>
            Trụ sở:
            45 Nguyễn Khắc Nhu, P. Cô Giang, Q.1, Tp. HCM
        </li>
        <li>
            Cơ sở 2:
            233A Phan Văn Trị , P.11, Q. Bình Thạnh, Tp. HCM
        </li>
        <li>
            Cơ sở 3:
            80/68 Dương Quảng Hàm, P.5, Q. Gò Vấp, Tp. HCM <br />
            69/68 Đặng Thùy Trâm, P. 13, Q. Bình Thạnh, Tp. HCM
        </li>
        <li>
            Văn phòng:
            P. 2.02, Tòa nhà LV (Cơ sở 3)
        </li>
        <li>
            Liên hệ:
            qhdn@vanlanguni.edu.vn - (028) 71099 224
        </li>
    </ul>

    </Col>
</Row>
<style>
    .link-footer {
        margin-top: 10px;
    }

        .link-footer li {
            margin-left: 4em;
        }

    .text-footer {
        margin-top: 10px;
    }

        .text-footer a {
            font-size: 20px;
            font-weight: 800;
        }

    ul {
        color: #fff;
        list-style: none;
        font-size: 16px;
    }

    a {
        color: #fff;
    }

        a:hover {
            color: gray;
        }
</style>