@page "/"

<PageTitle>Kí túc xá Văn Lang</PageTitle>
<Row>
    <Carousel Autoplay="TimeSpan.FromSeconds(2)">
        <CarouselSlick>
            <img src="https://www.vanlanguni.edu.vn/images/2020/banner/cs3.jpg" />
        </CarouselSlick>
        <CarouselSlick>
            <img src="https://www.vanlanguni.edu.vn/images/2020/banner/hn.jpg" />
        </CarouselSlick>
        <CarouselSlick>
            <img src="https://www.vanlanguni.edu.vn/images/2020/banner/cs3-01.jpg" />
        </CarouselSlick>
    </Carousel>
</Row>
<Row Justify="center">
    <iframe class="video" src="https://www.youtube.com/embed/m7UkxImTkqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</Row>
<Row Style="margin-bottom:20em; font-size: 18px">
    <Col Span="7" Offset="3" Style="text-align:center">
    <b style="font-size:20px">
        ĐÔI NÉT VỀ KÝ TÚC XÁ VĂN LANG
    </b>
    <p style="text-align:justify">
        Ký túc xá Trường Đại học Văn Lang là ngôi nhà chung ấm cúng, tiện nghi của khoảng 600 sinh viên đến từ nhiều tỉnh, thành đang học tập tại Văn Lang. Cũng là nơi đón các bạn trở về sau những giờ học vất vả tại trường.
        Ký túc xá có 6 tầng với 82 phòng xây dựng khang trang, khép kín, đầy đủ đảm bảo chỗ ở và sinh hoạt cho khoảng 600 sinh viên. Phí ở ký túc xá khoảng 300,000 đồng/sinh viên/tháng, ưu tiên sinh viên năm nhất khi đăng ký chỗ ở. Các bạn sinh viên năm nhất trước khi đăng ký được Nhà trường tư vấn, bố trí xe đưa đón tham quan ký túc xá trước khi đăng ký với thủ tục đơn giản và nhanh chóng.
    </p>
    </Col>
    <Col Span="3" Offset="2">
    <Image Preview="false" Src="https://tuyensinh.vanlanguni.edu.vn/wp-content/uploads/2017/02/vlu-phoi-canh-ktx-b-scaled.jpg" Width="500px" />
    </Col>
</Row>